.hero-baner__btn {
    padding: 10px 32px;
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--before-color);
    cursor: pointer;
}
.hero-baner__btn {
    border-radius: 4px;
    border: var(--accent-color);

    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px var(--hero-btn-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background: var(--btn-color);
    }
}

.modal-window__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: var(--border-modal-btn);
    background-color: transparent;

    cursor: pointer;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    fill: var(--accent-color);
    }
}

.modal-window__btns {
    padding: 0;
    cursor: pointer;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: inherit;
    border-radius: 4px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--btn-color);
    }
}

.modal-window__btngo {
    display: block;
    text-align: center;
    align-items: center;
    
    font-family: 'Roboto';
    font-style: normal;
    padding: 10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
        
    letter-spacing: 0.06em;
    color: var(--before-color);
    border-color: transparent;
}
.section-portfolio__button {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        padding-right: 30px;
        gap: 8px;
        margin-bottom: 50px;
}

    @media screen and (min-width: 768px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 8px;
        margin-bottom: 50px;
    }

}
.section-portfolio__btn {  
    padding: 6px 22px;
    border-radius: 4px;
    border: var(--services-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--services-color);
    cursor: pointer;

    transition-property: color, box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--before-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px var(--button-color);
    }
}


.last-footer__btns {
    display: flex;
    justify-content: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);

   
    letter-spacing: 0.06em;

    color: var(--before-color);

}