.section-footer__joins {
    

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}
.divase {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        gap: 165px;
        margin-left: 61px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 0;
        gap: 70px;
    }
    
}

.others {
    @media screen and (min-width: 1200px) {
        display: flex;
        
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
}
.section-footer__secondjoins {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
.section-footer__address {
    margin-top: 20px;

    @media screen and (min-width: 1200px) {
        margin-top: 20px;
    }
}
.section-footer__item {
    margin: 12px;
    
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: flex-start;
        
    }
}
.section-footer__item:not(:last-child) {
    
    @media screen and (min-width: 1200px) {
            .section-footer__item:not(:last-child) {
            display: flex;
            display: block;
            margin-bottom: 9px;
        }
    }
}
.section-footer__map {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: var(--before-color);

    @media screen and (min-width: 1200px) {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        color: var(--accent-color);
        }
    }
}

.section-footer {
    display: flex;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--h1-color);

    @media screen and (min-width: 1200px) {
        display: flex;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: var(--h1-color);
    }
}
.section-footer__link {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--footer-color);

    @media screen and (min-width: 1200px) {
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        color: var(--accent-color);
        }
    }
}
section-footer__go {
    display: flex;
    align-content: center;
    margin-left: 70px;
    width: 206px;
    height: 80px;
}
@media screen and (min-width: 1200px) {
        section-footer__go {
        display: flex;
        align-content: center;
        margin-left: 70px;
        width: 206px;
        height: 80px;
    }
}


.section-footer__ap {
    display: block;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(14 / 16);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    
    color: var(--before-color);


    @media screen and (min-width: 1200px) {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(14 / 16);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;
    
        color: var(--before-color);
        }
}
.section-footer__application {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 10px;
    }
    
}
.section-footer__people {
    

    @media screen and (min-width: 1200px) {
        display: flex;
    }
   
}

.section-footer__people {
    border-radius: 50%;
    background: var(--people-icon);

    @media screen and (min-width: 1200px) {
        border-radius: 50%;
        background: var(--people-icon);
    }
}
.section-footer__serv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    width: 44px;
    height: 44px;
    fill: var(--before-color);
    border-radius: 50%;

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 12px;
        width: 44px;
        height: 44px;
        fill: var(--before-color);
        border-radius: 50%;

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        background-color: var(--accent-color);
        fill: var(--before-color);
        }
    }
}

.last-footer {
    

    @media screen and (min-width: 1200px) {
        text-align: left;
        margin-left: 93px;
    }
}
.last-footer__text {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--before-color);

    @media screen and (min-width: 768px) {

    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 20px;
    }
}
.last-footer__email {
    padding-left: 16px;

    width: 450px;
    height: 50px;
    margin-bottom: 20px;

    background: var(--h1-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color:var(--before-color);

    @media screen and (min-width: 1200px) {
        padding-left: 16px;

        width: 358px;
        height: 50px;
        background: var(--h1-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color:var(--before-color);
        }
}

.last-footer__label {

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
    }
}
.last-footer__mail {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 50px;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px;
    border-radius: 4px;
    cursor: pointer;

    @media screen and (min-width: 1200px) {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 200px;
        height: 50px;

        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: 1px;
        border-radius: 4px;
        cursor: pointer;
        }
}