.section-page {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
}
.section-page__icons {
    height: 120px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
     
    background: var(--services-color);
    border-radius: 4px;

    @media screen and (min-width: 768px) {
        width: 354px;
        height: 120px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 120px;
    }
}
.section-page__first {
    display: block;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;  
    }
    
}
.section-page__second {
    

    @media screen and (min-width: 768px) {
        width: calc((100% - 2 * 15px) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-direction: column;
        flex-basis: 48%;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
}
.section-page__title {
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
    }
    
    
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.section-page__text {
    
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--text-color);


    
}

