.section-services {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--services-color);

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section-services__work {
    text-align: center;
    margin-bottom: 50px;

    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        text-align: center;
        letter-spacing: 0.03em;
    }
}
.section-services__document {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-services__img {
    

    @media screen and (max-width: 767px) {
        
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}
.section-services__before {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 30px;

    @media screen and (min-width: 768px) {
        display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        gap: 30px;
    }
}


.section-services__cover {
    background: var(--before-color);
    box-shadow: var(--cover-color);
}
.section-services__title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.section-services__text {
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.section-services__application {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.section-services__people {
    display: flex;
   
}
.section-services__services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    width: 44px;
    height: 44px;
    fill: var(--clients-icon);
    background-color: var(--before-color);
    border-radius: 50%;

    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .section-services__people {
        fill: var(--before-color); 
    }
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    fill: var(--before-color);
    }
}

