.beckdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--idx-backdrop);

    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--modal-window);
    backdrop-filter: blur(2px);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: opacity 150ms linear, visibility 150ms linear;

    @media screen and (min-width: 1200px) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--idx-backdrop);

        width: 100%;
        height: 100%;
        background-color: var(--modal-window);
        backdrop-filter: blur(2px);

        opacity: 1;
        visibility: visible;
        pointer-events: initial;
        transition: opacity 150ms linear, visibility 150ms linear;
    }
}
.beckdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media screen and (min-width: 1200px) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
.modal-window {
    width: 100vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    
    width: 450px;
    min-height: 609px;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--before-color);
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        width: 528px;
        min-height: 581px;
        background-color: var(--before-color);
        border-radius: 4px;
    }
}